{% load staticfiles %}
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calculator</title>
	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">				
				<a class="navbar-brand" href="">n Base Calculator</a>
			</div>
		</div>
	</nav>
	<form method="POST" action="">{% csrf_token%}
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<label>Enter Base:</label> 
				<input type="number" name="txtBase1" min="2" max="712" value="{{base1}}" class="text-box-size"  required></input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-md-offset-1">
			<label>Enter Number:</label> 
				<input type="text" name="txtNumber1" value="{{number1}}" maxlength="20" class="text-box-size"required pattern="[a-zA-Z0-9]+"></input>
			</div>
		</div>
		<div class="row">
			<div class = "col-md-4">
				<label>Result:</label>
				<label class="label label-default">Hi{{ result }}</label>
			</div>
		</div>
	</form>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html> 